.wrapper {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.avatar {
	margin-right: 15px;
}

.post {
	display: flex;
}

.text {
	word-wrap: break-word;
}

.close {
	padding: 10px;
	color: white;
	background: red;
	border-radius: 5px;

	&:hover {
		background: rgb(187, 0, 0);
	}
}
