.wrapper {
	min-height: 100vh;
	background: rgb(147, 154, 163);
}

.container {
	max-width: 70%;
	margin: 0 auto;
	display: grid;
	grid-template-areas:
		"head head"
		"side cont";
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	grid-gap: 10px;
}

.contentComponent {
	min-height: 100%;
	grid-area: cont;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 5px;
}
