.wrapper {
	display: grid;
	grid-template-columns: 3fr 1px 10fr;
	gap: 20px;
}

.dialogs {
	list-style: normal;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.dialog {
	padding: 5px;
	font-weight: 500;
	border: 1px solid #000;
	border-radius: 5px;
}

.verticalLine {
	width: 1px;
	background: #000;
}

.messages {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid #000;
	border-radius: 5px;
}
.message {
	display: flex;
	gap: 10px;
}
