.wrapper {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border: 1px solid #000;
	border-radius: 10px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.avatar {
	border-radius: 40px;
	margin-right: 15px;
}

.post {
	display: flex;
	align-items: center;
}

.data {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.text {
	word-wrap: break-word;
}

.likesContainer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.like {
	padding: 2px 4px;
	background: rgb(190, 80, 80);
	border-radius: 5px;
}
